/* Site Color Scheme:
http://colorschemedesigner.com/csd-3.5/#1q11Tw0w0w0w0

w3schools html color-picker
*/

body {
    background-color: #669999;
}
/*------------------------------------------------------*/
.jumbotron {
    background-image: url("../images/aurorabanner.jpg");
    background-size: cover;
    height: 300px;
    width: auto;
}

.jumbotron2 {
    background-image: url("../images/spacebanner.jpeg");
    background-size: cover;
    height: 300px;
    width: auto;
}

.jumbotron3 {
    background-image: url("../images/tulips.jpg");
    background-size: cover;
    height: 300px;
    width: auto;
}

/*------------------------------------------------*/

.navbar {
    font-size: medium;
    background-color: #ebebe0;
}

/*-------------------------------------------------*/
.panel {
    text-align: center;
    background-color: #b3cccc;
}

.panel-body {
    font-family: monospace;
    color: #9999ff;
}

.container {
    text-align: left;
}

a:hover, a:active {
    background-color: white;
}

/*---------------------------------------------*/

h1 {
    font-family: "Times New Roman", Times, serif;
    color: red;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    color: white;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    color: blue;
}

h3 {
    text-align: center;
    color: #0000ff;
}

h4 {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
}

h5 {
    color: #201858;
}

.p {
    color: white;
}
/*-----------------------------------------------*/

/* CSS from Simple.Weather jQuery plug in begins */

#weather {
    background-color: yellow;
}



@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#html {
  width: 100%;
  height: 100%;
  background: #1192d3 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/austin-2.jpg) no-repeat bottom right;
  background-size: cover;
}

body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: blue;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

/* CSS from Simple.Weather jQuery plug in ends */

 
/* carousel begins */

.carousel {
    position: relative;
}

.carousel-inner img {
  margin: auto;
} 

.carousel img {
    min-width: 50%;
}

/* carousel ends */

/* footer begins */

#footer1{
    text-align:center;
    color: #000000;
    bottom : 10px;
    height : 60px;
    margin-top : 60px;
    position: relative;
}

.footer {
    text-align:center;
    color: #000000;
    bottom : 10px;
    height : 60px;
    margin-top : 60px;
    position: relative;
}

.footer2 {
    text-align:center;
    color: #000000;
    bottom : 10px;
    height : 60px;
    margin-top : 60px;
    position: relative;
}

.footer3 {
    text-align:center;
    color: #000000;
    bottom : 10px;
    height : 60px;
    margin-top : 60px;
    position: relative;
}

/* footer ends */


/*Media Query*/

@media only screen and (min-width: 699px) and (max-width:1024px)
{

#container {
      padding: 15px;
    margin: 20px 10px;

}}


